html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: bisque;
  min-height: 100vh;
}

.options-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
}

button.option {
  padding: 0;
  margin: 0;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  border-style: none;
  border: 3px solid black;
  background-color: white;
  vertical-align: middle;
  padding: 10px;
}

button.option img,
.computer-choice-image img {
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.game-header {
  font-size: 40px;
  margin: 10px;
}

.rounds-amount {
  font-size: 30px;
  margin-bottom: 20px;
}

div.scores {
  min-width: 180px;
  min-height: 90px;
  background-color: hsl(34, 75%, 73%);
  border-radius: 15px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  font-weight: 600;
}

.score-data {
  font-weight: 200;
  font-size: 25px;
}

div.results-container {
  min-width: 700px;
  min-height: 60px;
  border: black solid 2px;
  border-radius: 15px;
  padding: 10px;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.computer-choice-header {
  font-size: 30px;
  margin-top: 20px;
}

.results-data {
  padding: 10px;
}

.computer-choice-image {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10px;
  background-color: white;
}

.play-new-game button {
  background-color: rgb(98, 138, 202);
  border: 4px solid rgb(69, 104, 161);
  border-radius: 5px;
  color: white;
  font-size: 25px;
  padding: 15px 25px;
}
